<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>PapDevApp</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>	  
<body>
	<h1>Divida</h1>
	<h3><a href="/dividas" class="waves-effect waves-light btn"><i class="material-icons left">dehaze</i>Lista de Dividas</a></h3>
	<div th:each="divida : ${divida}" class="container">
		<div class="row">
			<p><span th:text="MOCK"></span></p>
			<p><span th:text="${divida.vlDivida}"></span></p>
			<p><span th:text="${divida.dtLimitePagamento}"></span></p>
			<p><span th:text="${divida.status}"></span></p>
		</div>
		
		<form method="post">
			CPF:<input type="text" value="" name="cpfDevedor"/>
			Nome:<input type="text" value="" name="nmDevedor"/>
			E-mail:<input type="text" value="" name="emailDevedor"/>
			Telefone:<input type="text" value="" name="telefoneDevedor"/>
			<button  class="waves-effect waves-light btn" type="submit">Adicionar</button>	
		</form>
	</div>
	<h5>Lista de Devedores: </h5>
	<div class="container" th:each="devedor : ${devedores}">
		<div class="row">
			<div class="input field col s6">
				<p><span th:text="${devedor.nmDevedor}"></span></p>
			</div>
			<div class="input field col s3">
				<p><span th:text="${devedor.cpfDevedor}"></span></p>
			</div>
		</div>
	</div>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>