.detalhesDivida{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formDevedor{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;	
}

.tabelaDevedor{
	width: 50%;
}

.formDivida{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}