<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>PapDevApp</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>	  
<body>

	<header>
		<nav>
    		<div class="nav-wrapper">
      			<a href="#" class="brand-logo">Lista de Dividas</a>
			    <ul id="nav-mobile" class="right hide-on-med-and-down">
	        		<li><a href="/cadastrarDivida" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Divida</a></li>
      			</ul>
    		</div>
  		</nav>
	</header>
	<table class="container">
		<thead>
			<tr>
				<th>Devedor</th>
				<th>Valor</th>
				<th>Data de Pagamento</th>
				<th>Status</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="divida : ${dividas}">
				<td><a th:href="${(#mvc.url('DC#detalhesDivida').arg(0, divida.idDivida)).build()}"><span th:text="MOCK"></span></a></td>
				<td><span th:text="${divida.vlDivida}"></span></td>
				<td><span th:text="${divida.dtLimitePagamento}"></span></td>
				<td><span th:text="${divida.status}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('DC#deletarDivida').arg(0, divida.idDivida)).build()}"><i class="material-icons center">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>